doctype 5
html
  head
    title cjuarez tumblr scrapr
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
            .container
                a.brand cjuarez's Tumblr Scrapr
    .container
        block content
    script(src='http://code.jquery.com/jquery-1.6.2.js')
    script(src='/javascripts/main.js')